<div class="card sombra_cuadros">
  <% if car_information.showcase_video_url.present? %>
    <%= link_to car_information.showcase_video_url, title: "#{car_information.make} #{car_information.model} video", target: '_blank' do %>
      <%= image_tag car_information.image_url,  alt: "#{car_information.make} #{car_information.model}", class: 'd-block w-100 img-fluid' %>
    <% end %>
    <div class="card-body pb-0">
      <h6 class="card-title"><%= "#{car_information.make} #{car_information.model}" %>
        <%= link_to car_information.showcase_video_url, title: "#{car_information.make} #{car_information.model} video", target: '_blank' do %>
          <i class="fab fa-youtube"></i>
        <% end %>
      </h6>
      <p class="mb-1"><%= "#{car_information.year} | #{car_information.additional_information}" %></p>
      <p><%= link_to 'M치s informaci칩n', car_information.tu_carro_url, target: '_blank' %></p>
    </div>

  <% else %>
    <%= link_to car_information.tu_carro_url do %>
      <%= image_tag car_information.image_url,  alt: "#{car_information.make} #{car_information.model}", class: 'd-block w-100 img-fluid' %>
    <% end %>
    <div class="card-body pb-0">
      <h6 class="card-title"><%= "#{car_information.make} #{car_information.model}" %></h6>
      <p class="mb-1"><%= "#{car_information.year} | #{car_information.additional_information}" %></p>
      <p><%= link_to 'M치s informaci칩n', car_information.tu_carro_url, target: '_blank' %></p>
    </div>
  <% end %>

</div>