<div class="vitrina">
  <div class="container container-form financing-form">
    <h2>Contáctanos</h2>
    <%= form_with(model: @client_with_inquiry, url: create_from_home_client_with_inquiries_path, local: true) do |form| %>
      <%= render 'layouts/error_messages', object: @client_with_inquiry %>
      <div class="form-row">
        <div class="col">
          <%= form.text_field  :client_name, autofocus: true, class: 'form-control', required: true, placeholder: "Nombre" %>
        </div>
        <div class="col">
          <%= form.email_field :client_email, placeholder: 'Email', class: 'form-control', required: true %>
        </div>
        <div class="col">
          <%= form.phone_field :client_phone, placeholder: 'Teléfono (opcional)', class: 'form-control' %>
        </div>
      </div>

      <div class="form-row pt-3">
        <div class="col-md-10 col-9">
          <%= form.text_area :buy_process_inquiry_body, class: 'form-control', placeholder: "Escribe tu pregunta y nosotros te contactamos", rows:"1", required: true %>
        </div>
        <div class="col-md-2 col-3">
          <%= form.submit 'Preguntar', class: 'btn-full-width btn-primary btn-md' %>
        </div>
      </div>
      <div class="form-row">
        <p>&nbsp; *Al hacer click en "Preguntar" aceptas la <%= link_to 'Política de Tratamiento de Datos Personales', tratamiento_datos_personales_path  %> de Retomautos</p>
      </div>
    <% end %>
  </div>
</div>
