<div>
  <div class="container text-center">
    <div class="row py-5">
      <div class="col">
        <%= image_tag 'audi2.png', alt: 'Logo Audi', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col">
        <%= image_tag 'bmw4.jpg', alt: 'Logo BMW', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col">
        <%= image_tag 'mini.png', alt: 'Logo Mini', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'landrover.png', alt: 'Logo Land Rover', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'vw.png', alt: 'Logo Volkswagen', class: 'img-fluid brands-logo ' %>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col">
        <%= image_tag 'toyota2.jpg', alt: 'Logo Toyota', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col">
        <%= image_tag 'nissan2.jpg', alt: 'Logo Nissan', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col">
        <%= image_tag 'hyundai2.jpg', alt: 'Logo Hyundai', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'renault.png', alt: 'Logo Renault', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'honda.png', alt: 'Logo Honda', class: 'img-fluid brands-logo' %>
      </div>
    </div>
  </div>
</div>