

<div class="card mb-3 navbar-shadow">
  <div class="row no-gutters">
    <div class="col-md-7">
      <%= image_tag 'feria_2019.jpg', alt: 'Feria 2019', style: 'width: 740px;' %>
    </div>
    <div class="col-md-5 pl-0">
      <div class="card-body">
        <h5 class="card-title">Sobre Nosotros</h5>
        <p class="card-text">Somos una empresa de familia con más de 18 años de experiencia  en la venta de vehículos usados de gama alta y media. Nos especializamos en automóviles, camperos y camionetas de uso particular. </p>
        <p>Nos caracterizamos por nuestro excelente servicio al cliente y nuestros precios competitivos.</p>
        <p>En Diciembre de 2019 abrimons nuestra nueva vitrina Retomautos Selection, donde encontrarás la mejor selección de vehículos de gama alta. </p>
        <p>Nuestra vitrina ubicada en la Calle 105A sigue abierta y allí encontrarás una amplia selección de vehículos de gama media y alta.</p>
      </div>
    </div>
  </div>
</div>

<!--Nuestras Vitrinas-->
<div class="bg-light">
  <div class="pt-5 pb-4 ">
    <h2 class="text-center font-weight-bold text-dark">Retomautos Selection</h2>
  </div>

  <!--  Carrousel Retomautos Selection-->
  <div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <%= image_tag 'nueva_vitrina.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
              </div>
              <div class="col-sm">
                <%= image_tag 'retomautos_selection/20200131_134158.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
              </div>
              <div class="col-sm">
                <%= image_tag 'retomautos_selection/20200131_134302.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <%= image_tag 'retomautos_selection/20200131_134332.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
              </div>
              <div class="col-sm">
                <%= image_tag 'retomautos_selection/20200131_134504.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
              </div>
              <div class="col-sm">
                <%= image_tag 'retomautos_selection/20200131_134551.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <%= image_tag 'retomautos_selection/20200131_134655.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
              </div>
              <div class="col-sm">
                <%= image_tag 'retomautos_selection/20200131_134757.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
              </div>
              <div class="col-sm">
                <%= image_tag 'retomautos_selection/20200131_134811_001.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br>
</div>

<!--END Nuestras Vitrinas-->

<!--Visitanos-->
<div class="bg-light pb-4">
  <div class="pt-5 pb-4">
    <h2 class="text-center font-weight-bold">Visítanos</h2>
  </div>
  <div class="container">
    <div class="row">
      <!--Column 1-->
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Retomautos Selection</h5>
            <address class="card-text">Carrera 15 # 103-24<br>
              Chicó, Bogotá<br>
              Colombia
            </address>
            <div id="map-selection" style="height: 400px; width: 100%"></div>
            <div class="container">
              <div class="row pt-3 text-center">
                <div class="col-sm pb-3 pb-md-0">
                  <a href="https://goo.gl/maps/BT3TerDdVfRPZEPA7" title="Google Maps">
                    <%= image_tag 'google_maps.png', alt: 'Logo Google Maps', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Maps</span>
                  </a>
                </div>
                <div class="col-sm">
                  <a href="https://www.waze.com/ul?place=ChIJIckC18ubP44RM6cCBsRE_0w&ll=4.68803390%2C-74.04714040&navigate=yes" title="Waze">
                    <%= image_tag 'waze_logo.png', alt: 'Logo Waze', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Waze</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END Column 1-->

      <!--Column 2 -->
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Retomautos AyG S.A.S.</h5>
            <address class="card-text">Calle 105A # 14-41<br>
              Chicó, Bogotá<br>
              Colombia
            </address>
            <div id="map-house" style="height: 400px; width: 100%"></div>
            <div class="container">
              <div class="row pt-3 text-center">
                <div class="col-sm pb-3 pb-md-0">
                  <a href="https://goo.gl/maps/tEzmYZvcS1TvSBMs9" title="Google Maps">
                    <%= image_tag 'google_maps.png', alt: 'Logo Google Maps', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Maps</span>
                  </a>
                </div>
                <div class="col-sm">
                  <a href="https://www.waze.com/ul?place=ChIJrcH5T7yaP44RvuMWpK5hajk&ll=4.68906690%2C-74.04547560&navigate=yes" title="Waze">
                    <%= image_tag 'waze_logo.png', alt: 'Logo Waze', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Waze</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END Column 2 -->
    </div>
  </div>
</div>

<script>
    // Initialize and add the map
    function initMap() {
        // Retomautos Selection
        var retomautos_selection = {lat: 4.688071, lng: -74.047168};
        var map_selection = new google.maps.Map(
            document.getElementById('map-selection'), {zoom: 17, center: retomautos_selection});
        var marker = new google.maps.Marker({position: retomautos_selection, map: map_selection});

        // Retomautos Casa
        var retomautos_house = {lat: 4.689062, lng: -74.045493};
        var map_house = new google.maps.Map(
            document.getElementById('map-house'), {zoom: 17, center: retomautos_house});
        var marker = new google.maps.Marker({position: retomautos_house, map: map_house});
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD7KUaG-hvw1jIpCx12Wp4M4y7Vw1oTdI&callback=initMap">
</script>


