<!--Inicio financiacion-->
<div class="financiacion_page">
  <div class="financiacion_title container text-light">
    <h1>¿Estás buscando financiación para comprar tu próximo vehículo?</h1>
    <h4 class="text-white-50">En Retomautos tenemos múltiples alternativas para que alcances tus sueños</h4>
  </div>

  <!--Financing Form-->
  <div class="container py-5">
    <h2 class="text-white-50">Inicia el proceso de financiación</h2>
    <%= form_with(model: @client_with_inquiry, url: create_from_financing_client_with_inquiries_path, local: true) do |form| %>
      <%= render 'layouts/error_messages', object: @client_with_inquiry %>
      <div class="form-row">
        <div class="col">
          <%= form.text_field  :client_name, autofocus: true, class: 'form-control', required: true, placeholder: "Nombre" %>
        </div>
        <div class="col">
          <%= form.email_field :client_email, placeholder: 'Email', class: 'form-control', required: true %>
        </div>
        <div class="col">
          <%= form.phone_field :client_phone, placeholder: 'Teléfono (opcional)', class: 'form-control' %>
        </div>
      </div>

      <div class="form-row pt-3">
        <div class="col-md-11 col-9">
          <%= form.text_area :buy_process_inquiry_body, class: 'form-control', placeholder: "¿Qué carro quieres? ¿Cuánto quieres financiar?", rows:"1", required: true %>
        </div>
        <div class="col-md-1 col-3">
          <%= form.submit 'Enviar', class: 'btn-full-width btn-primary btn-md' %>
        </div>
      </div>
    <% end %>
  </div>
  <!--End Financing Form-->

</div>
<!--End Inicio financiacion-->

<!--Logos aliados financieros-->
<div class="container py-5 text-center">
  <h2>Nuestros aliados financieros te ayudarán a solicitar la financiación que necesitas para tu próximo vehículo<sup>*</sup></h2>
  <%= render 'visitors/aliados_financieros' %>
</div>
<!--End Logos aliados financieros-->

<!--Info financiacion-->
<div class="row no-gutters">
  <div class="col-md-6">
    <%= image_tag 'documents_finance.jpg', alt: 'Audi', class: "img-fluid" %>
  </div>
  <div class="col-md-6  bg-light">
    <div class="container">
      <div class="p-5">
        <h2>¿Por qué financiar con nosotros?</h2>
        <br>
        <ul class="tick">
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>Financia hasta el 100% del valor de tu vehículo</span>
          </li>
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>Define el plazo de tu deuda hasta 72 meses</span>
          </li>
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>Encuentra las mejores tasas de interés</span>
          </li>
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>Establece diferentes formas de pago</span>
          </li>
        </ul>

        <p>Comunícate con nosotros para iniciar la solicitud. Puedes hacerlo en
          nuestras instalaciones o de manera virtual</p>

        <p>Podrás tener respuesta de tu solicitud presentada ante uno de nuestros asesores entre 2 y
          7 días hábiles<sup>**</sup></p>
      </div>
    </div>
  </div>
</div>
<!--End Info financiacion-->

<!--Documents financiacion-->
<div class="row no-gutters documents_finance">
  <div class="col-md-6 order-md-2">
    <%= image_tag 'audi_bg.jpg', alt: 'Audi', class:"img-fluid" %>
  </div>
  <div class="col-md-6 order-md-1  bg-light">
    <div class="container p-5" style="height: 100%">
      <h2>¿Qué documentos necesitas presentar?<sup><small>***</small></sup></h2>
      <br>
      <div>
        <h5 class="pt-3">Si eres empleado</h5>
        <ul class="tick">
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>Una carta laboral</span>
          </li>
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>
              Desprendibles de pago de nómina y/o extractos de los últimos tres meses
            </span>
          </li>
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>
              Declaración de renta del último año presentado
            </span>
          </li>
        </ul>
      </div>

      <div>
        <h5 class="pt-3">Si eres trabajador independiente</h5>
        <ul class="tick">
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>Declaración de renta del último año presentado</span>
          </li>
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>RUT</span>
          </li>
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>Extractos bancarios de los últimos tres meses</span>
          </li>
        </ul>
      </div>

      <div>
        <h5 class="pt-3">Si eres pensionado</h5>
        <ul class="tick">
          <li>
            <i class="far fa-check-circle"></i>&nbsp;
            <span>Las últimas 2 colillas de pago de tu pensión</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!--End documents financiacion-->


<!--Disclaimer-->
<div class="container text-muted py-5">
  <small><sup>*</sup>Las características de los créditos ofrecidos dependerán de cada Entidad Financiera.
    La aprobación y las condiciones de cada crédito dependen del perfil de riesgo del cliente evaluado por cada
    Entidad Financiera.
    El proceso de evaluación de crédito es una actividad realizada por cada Entidad Financiera. Retomautos
    no se compromete con el resultado o con las condiciones.</small></br>
  <small><sup>**</sup>Cada solicitud de crédito es tramitada por funcionarios de las Entidades Financieras, por lo
    tanto, esta solicitud se hace frente a la Entidad Financiera y no frente a Retomautos.
    Cada solicitud requiere una autorización para consultar en Centrales de Riesgo.
    Es posible que la Entidad Financiera requiera realizar actividades adicionales a las aquí descritas.</small></br>
  <small><sup>***</sup>La solicitud de documentos puede variar entre cada Entidad Financiera,
    por lo que esta es una aproximación a la generalidad de documentos solicitados.</small>
</div>
<!--End Disclaimer-->