<!-- Fold -->
<div class="vitrina">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg danger" href="https://vehiculos.tucarro.com.co/_CustId_28140600" role="button"
     target="_blank">Contáctanos</a>
</div>
<!-- END Fold -->

<!-- Nuestros Carros -->
<div class="bg-light">
  <div class="pt-5 pb-4">
    <h2 class="text-center font-weight-bold"> Nuestros Carros</h2>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!--Slide 1-->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">

            <div class="col-sm">
              <div class="card" style="">
                <%= image_tag 'fotos_tu_carro/DTP988.JPG', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="">
                <%= image_tag 'fotos_tu_carro/DWK505.JPG', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="">
                <%= image_tag 'fotos_tu_carro/EIW746.JPG', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Slide 1-->

      <!--Slide 2-->
      <div class="carousel-item">
        <div class="container">
          <div class="row">

            <div class="col-sm">
              <div class="card">
                <%= image_tag 'fotos_tu_carro/IVR631.JPG', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <%= image_tag 'fotos_tu_carro/EMS994.JPG', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <%= image_tag 'fotos_tu_carro/IMU791.JPG', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Slide 2-->

      <!--Slide 3-->
      <div class="carousel-item">
        <div class="container">
          <div class="row">

            <div class="col-sm">
              <div class="card">
                <%= image_tag 'fotos_tu_carro/HAL506.JPG', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <%= image_tag 'fotos_tu_carro/IXM999.JPG', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <%= image_tag 'fotos_tu_carro/IMU052.JPG', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Slide 3-->

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="text-center pt-4 pb-4">
    <a class="btn btn-primary btn-lg" href="https://vehiculos.tucarro.com.co/_CustId_28140600" role="button"
       target="_blank">Ver el listado completo</a>
  </div>
</div>
<!-- END Nuestros Carros -->



<!-- Nuestras Marcas -->
<div>
  <div class="mt-5 mb-4">
    <h2 class="text-center font-weight-bold"> Nuestras Marcas</h2>
  </div>

  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col">
        <%= image_tag 'audi2.png', alt: 'Logo Audi', class: 'img-fluid' %>
      </div>
      <div class="col">
        <%= image_tag 'bmw4.jpg', alt: 'Logo BMW', class: 'img-fluid' %>
      </div>
      <div class="col">
        <%= image_tag 'mini.png', alt: 'Logo Mini', class: 'img-fluid' %>
      </div>
      <div class="col">
        <%= image_tag 'landrover.png', alt: 'Logo Land Rover', class: 'img-fluid' %>
      </div>
      <div class="col">
        <%= image_tag 'vw.png', alt: 'Logo Volkswagen', class: 'img-fluid' %>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col">
        <%= image_tag 'toyota2.jpg', alt: 'Logo Toyota', class: 'img-fluid' %>
      </div>
      <div class="col">
        <%= image_tag 'nissan2.jpg', alt: 'Logo Nissan', class: 'img-fluid' %>
      </div>
      <div class="col">
        <%= image_tag 'hyundai2.jpg', alt: 'Logo Hyundai', class: 'img-fluid' %>
      </div>
      <div class="col">
        <%= image_tag 'renault.png', alt: 'Logo Renault', class: 'img-fluid' %>
      </div>
      <div class="col">
        <%= image_tag 'honda.png', alt: 'Logo Honda', class: 'img-fluid' %>
      </div>
      <div class="col">
        <%= image_tag 'chevrolet.png', alt: 'Logo Chevrolet', class: 'img-fluid' %>
      </div>
    </div>
  </div>
</div>
<!-- END Nuestras Marcas -->

<!--Financiacion-->
<div>
  <div class="jumbotron financiacion">
    <h1 class="display-4">Financiación</h1>
    <p class="lead">Analiza las opciones para comprar el carro de tus sueños</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="https://vehiculos.tucarro.com.co/_CustId_28140600" role="button"
       target="_blank">Más información</a>
  </div>
</div>
<!--END Financiacion-->

<!--Visitanos-->
<div class="bg-light pb-4">
  <div class="pt-5 pb-4">
    <h2 class="text-center font-weight-bold">Visítanos</h2>
  </div>
  <div class="container">
    <div class="row">
      <!--Column 1-->
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Retomautos Selection</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div id="map-selection" style="height: 400px; width: 100%"></div>
            <div class="container">
              <div class="row pt-3 text-center">
                <div class="col-sm pb-3 pb-md-0">
                  <a href="https://goo.gl/maps/BT3TerDdVfRPZEPA7" title="Google Maps">
                    <%= image_tag 'google_maps.png', alt: 'Logo Google Maps', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Maps</span>
                  </a>
                </div>
                <div class="col-sm">
                  <a href="https://www.waze.com/ul?place=ChIJIckC18ubP44RM6cCBsRE_0w&ll=4.68803390%2C-74.04714040&navigate=yes" title="Waze">
                    <%= image_tag 'waze_logo.png', alt: 'Logo Waze', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Waze</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END Column 1-->

      <!--Column 2 -->
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Retomautos AyG S.A.S.</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div id="map-house" style="height: 400px; width: 100%"></div>
            <div class="container">
              <div class="row pt-3 text-center">
                <div class="col-sm pb-3 pb-md-0">
                  <a href="https://goo.gl/maps/tEzmYZvcS1TvSBMs9" title="Google Maps">
                    <%= image_tag 'google_maps.png', alt: 'Logo Google Maps', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Maps</span>
                  </a>
                </div>
                <div class="col-sm">
                  <a href="https://www.waze.com/ul?place=ChIJrcH5T7yaP44RvuMWpK5hajk&ll=4.68906690%2C-74.04547560&navigate=yes" title="Waze">
                    <%= image_tag 'waze_logo.png', alt: 'Logo Waze', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Waze</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END Column 2 -->
    </div>
  </div>
</div>

<script>
    // Initialize and add the map
    function initMap() {
        // Retomautos Selection
        var retomautos_selection = {lat: 4.688071, lng: -74.047168};
        var map_selection = new google.maps.Map(
            document.getElementById('map-selection'), {zoom: 17, center: retomautos_selection});
        var marker = new google.maps.Marker({position: retomautos_selection, map: map_selection});

        // Retomautos Casa
        var retomautos_house = {lat: 4.689062, lng: -74.045493};
        var map_house = new google.maps.Map(
            document.getElementById('map-house'), {zoom: 17, center: retomautos_house});
        var marker = new google.maps.Marker({position: retomautos_house, map: map_house});
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD7KUaG-hvw1jIpCx12Wp4M4y7Vw1oTdI&callback=initMap">
</script>
<!--END Visitanos-->


