<!-- Fold -->
<div class="vitrina">
  <div class="container pb-5">
    <h1>ENCUENTRA TU PRÓXIMO CARRO</h1>
    <div>
      <a class="" href="https://vehiculos.tucarro.com.co/_CustId_28140600" role="button"
         target="_blank">
        <h3>
          DESCUBRE MÁS
          <i class="fas fa-angle-double-right"></i>
        </h3>
      </a>
    </div>

  </div>
</div>
<!-- END Fold -->

<!-- Nuestras Marcas -->
<div>
  <div class="container text-center">
    <div class="row pt-4 pb-5">
      <div class="col">
        <%= image_tag 'audi2.png', alt: 'Logo Audi', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col">
        <%= image_tag 'bmw4.jpg', alt: 'Logo BMW', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col">
        <%= image_tag 'mini.png', alt: 'Logo Mini', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'landrover.png', alt: 'Logo Land Rover', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'vw.png', alt: 'Logo Volkswagen', class: 'img-fluid brands-logo ' %>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col">
        <%= image_tag 'toyota2.jpg', alt: 'Logo Toyota', class: 'img-fluid brands-logo px-2' %>
      </div>
      <div class="col">
        <%= image_tag 'nissan2.jpg', alt: 'Logo Nissan', class: 'img-fluid brands-logo px-2' %>
      </div>
      <div class="col">
        <%= image_tag 'hyundai2.jpg', alt: 'Logo Hyundai', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'renault.png', alt: 'Logo Renault', class: 'img-fluid brands-logo' %>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'honda.png', alt: 'Logo Honda', class: 'img-fluid brands-logo' %>
      </div>
    </div>
  </div>
</div>
<!-- END Nuestras Marcas -->

<!-- Por que Retomautos -->
<div class="why-retomautos">
  <div class="container text-center">
    <div class="row">
      <div class="col px-5">
        <i class="fas fa-clipboard-check why-icons"></i>
        <h3>Compra con tranquilidad</h3>
        <p class="lead">Nuestros carros tienen peritaje de Colserautos y revisión de antecedentes de la DIJIN.</p>
      </div>
      <div class="col px-5">
        <i class="fas fa-wallet why-icons"></i>
        <h3>Cuida tu bolsillo</h3>
        <p class="lead">Tenemos una amplia selección de carros de gama media y alta a precios muy competitivos. </p>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col px-5">
        <i class="fas fa-shipping-fast why-icons"></i>
        <h3>Agilidad en los trámites</h3>
        <p class="lead">Sin intermediarios. Los trámites son hechos directamente por Retomautos sin costos escondidos.</p>
      </div>
      <div class="col px-5">
        <i class="fas fa-hand-holding-usd why-icons"></i>
        <h3>Facilidad en financiación</h3>
        <p class="lead">Trabajamos directamente con los bancos para agilizar los procesos y dar mejores opciones de financiación.</p>
      </div>
    </div>
  </div>
</div>
<!-- END Por que Retomautos -->

<!-- Nuestros Carros -->
<div class="bg-light">
  <div class="container">
    <div class="pt-5">
      <h1 class="text-center font-weight-bold text-dark"> Nuestros Carros</h1>
      <p class="pl-4 pt-3 text-muted">Encuentra aquí los mejores vehículos usados multimarca del mercado. Nos especializamos en vehículos gama alta y gama media.</p>
    </div>
  </div>

  <div class="container">
    <div id="carouselExampleControls" class="carousel slide text-muted" data-ride="carousel">
      <div class="carousel-inner">

        <!--Slide 1-->
        <div class="carousel-item active">
          <div class="container">
            <div class="row pb-4 pt-4">
              <div class="col-sm mb-3 mb-md-0">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_0535.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">BMW M4</h5>
                    <p>2018 | Coupé</p>
                  </div>
                </div>
              </div>
              <div class="col-sm mb-3 mb-md-0">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_0606.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">BMW 120i</h5>
                    <p>2019 | Tp Comfort</p>
                  </div>
                </div>
              </div>
              <div class="col-sm mb-3 mb-md-0">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_0714.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">BMW X3
                      <span class="sold-badge">Vendido</span>
                    </h5>
                    <p>2017 | 35i Xdrive Tp</p>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_0861.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">BMW 530i</h5>
                    <p>2018 | Tp</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Slide 1-->

        <!--Slide 2-->
        <div class="carousel-item">
          <div class="container">
            <div class="row pb-4 pt-4">
              <div class="col-sm mb-3 mb-md-0">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_1874.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">Mercedes Benz CLA</h5>
                    <p>2019 | 180 Tp</p>
                  </div>
                </div>
              </div>
              <div class="col-sm mb-3 mb-md-0">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_0960.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">Audi Q5</h5>
                    <p>2019 | 45 Tfsi</p>
                  </div>
                </div>
              </div>
              <div class="col-sm mb-3 mb-md-0">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_1016.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">Mini Cooper S</h5>
                    <p>2018 | 5p</p>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_1276.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">Peugeot 308</h5>
                    <p>2010 | Automático</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Slide 2-->

        <!--Slide 3-->
        <div class="carousel-item">
          <div class="container">
            <div class="row pb-4 pt-4">

              <div class="col-sm mb-3 mb-md-0">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_1353.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">BMW 420</h5>
                    <p>2018 | Gran Coupé Sport</p>
                  </div>
                </div>
              </div>
              <div class="col-sm mb-3 mb-md-0">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_1376.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">BMW M240
                      <span class="sold-badge">Vendido</span></h5>
                    <p>2019 | Convertible Tp</p>
                  </div>
                </div>
              </div>
              <div class="col-sm mb-3 mb-md-0">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/tucson.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">Hyundai Tucson
                      <span class="sold-badge">Vendido</span></h5>
                    <p>2011 | Ix 35 4x4</p>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card sombra_cuadros">
                  <%= image_tag 'fotos_tu_carro/IMG_1779.jpg', alt: 'DTP988', class: 'd-block w-100 img-fluid' %>
                  <div class="card-body pb-0">
                    <h5 class="card-title">Audi A6
                      <span class="sold-badge">Vendido</span></h5>
                    <p>2012 | 2.8 Tp</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Slide 3-->

      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <div class="text-center pt-4 pb-4">
    <a class="btn btn-primary btn-lg" href="https://vehiculos.tucarro.com.co/_CustId_28140600" role="button"
       target="_blank">Ver el listado completo</a>
  </div>
</div>
<!-- END Nuestros Carros -->





<!--Financiacion-->
<div class="financiacion">
  <div class="container">
    <div class="jumbotron-transparent">
      <h1 class="pb-2">Financiación</h1>
      <p class="lead">Tenemos las mejores opciones de financiación. Analiza las opciones y calcula tu cuota.</p>
      <hr class="my-4">
      <%= link_to 'Más información', financiacion_path, class: 'btn btn-primary btn-lg'  %>
    </div>
  </div>
</div>
<!--END Financiacion-->

<!--Visitanos-->
<div class="bg-light pb-4">
  <div class="pt-5 pb-4">
    <h1 class="text-center text-dark font-weight-bold">Visítanos</h1>
  </div>

  <div class="container">
    <p class="class= text-secondary pb-4">Tenemos dos salas de ventas ubicadas a dos cuadras entre sí. Estamos ubicados en el corazón de Bogotá, a pocas cuadras de la glorieta de la Calle 100 con Carrera 15.</p>
  </div>

  <div class="container">
    <div class="row">
      <!--Column 1-->
      <div class="col-sm mb-4 mb-md-0">
        <div class="card sombra_cuadros">
          <div class="card-body">
            <h4 class="card-title text-center">Retomautos Selection</h4>
            <p class="text-muted mb-0">La mejor selección de gama alta.</p>
            <hr>
            <p class="card-text text-muted">Carrera 15 # 103-24, Chicó, Bogotá, Colombia.</p>
            <div id="map-selection" style="height: 400px; width: 100%"></div>
            <div class="container">
              <div class="row pt-3 text-center">
                <div class="col-sm pb-3 pb-md-0">
                  <a href="https://goo.gl/maps/BT3TerDdVfRPZEPA7" title="Google Maps" target="_blank">
                    <%= image_tag 'google_maps.png', alt: 'Logo Google Maps', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Maps</span>
                  </a>
                </div>
                <div class="col-sm">
                  <a href="https://www.waze.com/ul?place=ChIJIckC18ubP44RM6cCBsRE_0w&ll=4.68803390%2C-74.04714040&navigate=yes" title="Waze" target="_blank">
                    <%= image_tag 'waze_logo.png', alt: 'Logo Waze', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Waze</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END Column 1-->

      <!--Column 2 -->
      <div class="col-sm">
        <div class="card sombra_cuadros">
          <div class="card-body">
            <h4 class="card-title text-center">Retomautos AyG S.A.S.</h4>
            <p class="text-muted mb-0">Una amplia selección de gama media y alta.</p>
            <hr>
            <p class="card-text text-muted">Calle 105A # 14-41, Chicó, Bogotá, Colombia.</p>
            <div id="map-house" style="height: 400px; width: 100%"></div>
            <div class="container">
              <div class="row pt-3 text-center">
                <div class="col-sm pb-3 pb-md-0">
                  <a href="https://goo.gl/maps/tEzmYZvcS1TvSBMs9" title="Google Maps" target="_blank">
                    <%= image_tag 'google_maps.png', alt: 'Logo Google Maps', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Maps</span>
                  </a>
                </div>
                <div class="col-sm">
                  <a href="https://www.waze.com/ul?place=ChIJrcH5T7yaP44RvuMWpK5hajk&ll=4.68906690%2C-74.04547560&navigate=yes" title="Waze" target="_blank">
                    <%= image_tag 'waze_logo.png', alt: 'Logo Waze', style: 'height: 30px;' %>
                    &nbsp;
                    <span>Llévame con Waze</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END Column 2 -->
    </div>
  </div>
</div>

<script>
    // Initialize and add the map
    function initMap() {
        // Retomautos Selection
        var retomautos_selection = {lat: 4.688071, lng: -74.047168};
        var map_selection = new google.maps.Map(
            document.getElementById('map-selection'), {zoom: 17, center: retomautos_selection});
        var marker = new google.maps.Marker({position: retomautos_selection, map: map_selection});

        // Retomautos Casa
        var retomautos_house = {lat: 4.689062, lng: -74.045493};
        var map_house = new google.maps.Map(
            document.getElementById('map-house'), {zoom: 17, center: retomautos_house});
        var marker = new google.maps.Marker({position: retomautos_house, map: map_house});
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD7KUaG-hvw1jIpCx12Wp4M4y7Vw1oTdI&callback=initMap">
</script>
<!--END Visitanos-->


