<div class="bmw_blog_style mb-5">
  <div class="container">
    <h1 class="display-4 pt-5">Las Camionetas de BMW</h1>
  </div>
</div>

<div class="container mt-4">
  <div class="py-3">
    <p>A partir del año 2000, BMW entró en la era de las SUV (Sport Utility Vehicle), más conocidas como camionetas. Para diferenciar este tipo de vehículos de los tradicionales automóviles producidos por la marca, BMW utilizó la letra X.</p>
    <p>La primera en aparecer fue la BMW X5, y con ella nació la tracción permanente en las 4 ruedas que distribuye la potencia de manera inteligente “Xdrive”. Con el pasar de los años y gracias al éxito en ventas, BMW empezó a ampliar su portafolio de camionetas y ahora cuenta con 7 tipos de camionetas.</p>
    <p>Para identificar el tipo de motor y de tracción BMW utiliza dos números y unas siglas adicionales. Los números identifican el tipo de motor equipado, y las siglas que lo acompañan hacen referencia al tipo de tracción:</p>
    <ul>
      <li>Sdrive: Tracción en 2 ruedas</li>
      <li>Xdrive: Tracción en las 4 ruedas (4x4).</li>
    </ul>
  </div>

  <div class="py-3">
    <h5>X1:</h5>
    <p>Esta es una camioneta compacta que se ofrece en versión Sdrive y Xdrive,  y cuenta con capacidad para 5 pasajeros. Se caracteriza por tener amplio espacio en el interior, a pesar de contar con una altura al piso similar a la de un automóvil.</p>
    <div class="row">
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
    </div>
  </div>

  <div class="py-3">
    <h5>X2:</h5>
    <p>Es una camioneta compacta, de tamaño similar a la X1 pero se caracteriza por su diseño deportivo. La mayoría de estas camionetas tienen tracción Sdrive, pero la versión con motor de mayor potencia 35i, cuenta con tracción Xdrive.</p>
    <div class="row">
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
    </div>
  </div>

  <div class="py-3">
    <h5>X3:</h5>
    <p>Esta camioneta de tamaño intermedio y que se ofrece únicamente con tracción Xdrive. A diferencia de las dos anteriores, cuenta con mayor altura al suelo y mayor espacio interior.</p>
    <div class="row">
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
    </div>
  </div>

  <div class="py-3">
    <h5>X4:</h5>
    <p>Es una SUV deportiva, con una carrocería tipo coupé. Está basada en la plataforma de la X3, pero la parte posterior de la camioneta es más bajita e intenta replicar las características de un vehículo deportivo. Por tal razón, cuenta con menor capacidad en el baúl.</p>
    <div class="row">
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
    </div>
  </div>

  <div class="py-3">
    <h5>X5:</h5>
    <p>Es una SUV más grande que las dos anteriores que se caracteriza por su gran espacio interior, y es un poco más lujosa que las anteriores. Cuenta con motorizaciones de mayor potencia para poder compensar el peso de su carrocería y para mantener el carácter deportivo que define a la marca, y se ofrece únicamente con tracción Xdrive. Esta camioneta puede ser equipada con sillas para 5 o 7 pasajeros.</p>
    <div class="row">
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
    </div>
  </div>

  <div class="py-3">
    <h5>X6:</h5>
    <p>Esta camioneta está basada en la plataforma de la X5, por lo tanto cuenta con dimensiones y características similares, solo que al igual que la X4 tiene carrocería tipo coupé lo cual la hace más deportiva pero tiene menor capacidad en el baúl.</p>
    <div class="row">
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
    </div>
  </div>

  <div class="py-3">
    <h5>X7:</h5>
    <p>Es la camioneta más grande y más lujosa ofrecida por la marca. Solo se ofrece con 7 sillas y tracción Xdrive.</p>
    <div class="row">
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
      <div class="col-sm">
        <%= image_tag 'blog_photos/bienvenido_bmw.jpg',  alt: "Foto Seerie 1", class: 'd-block w-100 img-fluid' %>
      </div>
    </div>
  </div>
  <p><%= link_to 'Artículo: Los Roadster de BMW', blog_posts_los_roadster_de_bmw_path %></p>
</div>

