<div class="card mt-3">
  <div class="card-header font-weight-bold">
    <div class="row">
      <div class="col-9">Datos del Cliente</div>
      <div class="col-3"> <%= link_to "Ver Perfil", client_path(client), class: 'btn btn-primary' %></div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= link_to client.name, client_path(client) %></li>
    <li class="list-group-item"><a href="mailto:<%= client.email %>" target="_blank"><%= client.email %></a></li>
    <li class="list-group-item"><a href="tel:<%= client.phone %>"><%= client.phone %></a></li>
  </ul>
</div>