<div class="container py-5">
  <div class="card mt-3">

    <div class="card-header font-weight-bold">
      <div class="row">
        <div class="col-2">Perfil del Cliente</div>
        <div class="col-3"> <%= link_to "Editar", edit_client_path(@client), class: 'btn btn-primary' %></div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: <%= @client.name %></li>
      <li class="list-group-item">Email: <a href="mailto:<%= @client.email %>" target="_blank"><%= @client.email %></a></li>
      <li class="list-group-item">Teléfono: <a href="tel:<%= @client.phone %>"><%= @client.phone %></a></li>
      <ul class="list-group list-group-flush">
        <% if @client_buy_processes.size > 0  %>
          <ul class="list-group-item">Procesos:
            <% @client_buy_processes.each do |buy_process| %>
              <li class="list-group-item">
                <% if policy([:admin, buy_process]).show? %>
                  <%= link_to "Proceso #{buy_process.id}", sales_buy_process_path(buy_process) %>
                <% elsif policy([:sales, buy_process]).show? %>
                  <%= link_to "Proceso #{buy_process.id}", admin_buy_process_path(buy_process) %>
                <% end %>
                </br>Vendedor asignado: <%= buy_process.user&.name %>
                </br>Estado:
                <% if buy_process.successfully_closed? %>
                  <span>Vendido el <%= format_date(buy_process.successfully_closed_at) %></span>
                <% elsif buy_process.unsuccessfully_closed?%>
                  <span>Archivado el <%= format_date(buy_process.unsuccessfully_closed_at) %></span>
                <% else %>
                  <span>Activo</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </ul>
      <li class="list-group-item">
        <% if @last_open_buy_process.present? %>

          <% if policy([:admin, @last_open_buy_process]).show? %>
            <%= link_to "Ver proceso activo", admin_buy_process_path(@last_open_buy_process), class: 'btn btn-primary'  %>
          <% elsif policy([:sales, @last_open_buy_process]).show? %>
            <%= link_to "Ver proceso activo", sales_buy_process_path(@last_open_buy_process), class: 'btn btn-primary'  %>
          <% end %>

        <% else %>

           <% if policy([:admin, @admin_new_buy_process]).create? %>
            <%= form_with(model: @admin_new_buy_process, url: admin_buy_processes_path, local: true) do |f| %>
              <div class="form-row">
                <div class="col-sm-4">Crear nuevo proceso con vendedor:</div>
                <div class="col-sm-4">
                  <div class="field">
                    <%= f.select(:user_id, @active_salespeople_select, { }, class: 'form-control') %>
                  </div>
                  <%= f.hidden_field :client_id %>
                </div>
                <div class="col-sm-2">
                  <%= f.submit "Crear", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
            <hr>
          <% end %>

          <% if policy([:sales, @sales_new_buy_process]).create? %>
            <%= button_to 'Crear Nuevo Proceso',
                          sales_buy_processes_path,
                          { params: { 'buy_process[client_id]' => @sales_new_buy_process.client_id }, class: 'btn btn-primary' } %>
          <% end %>
        <% end %>

      </li>
    </ul>
  </div>
</div>
