<div class="container py-5">
  <h2 class="pb-3">Carros Activos [<%= @car_intakes.count %>]</h2>
  <% if policy(CarIntake).new?  %>
    <%= link_to 'Nuevo Carro', new_car_intake_path, class: 'btn btn-primary mb-3' %>
  <% end %>


  <!-- Filter form -->
  <%= form_with(url: car_intakes_path, method: :get, local: true) do |f| %>
    <div class = "font-weight-bold py-3">Búsqueda</div>
    <div class="row pt-1 pb-5">
      <div class="col-sm-3">
        <%= f.label :car_registration_contains, 'Placa' %>
        <%= f.text_field(:car_registration_contains, value: params[:car_registration_contains], class: 'form-control' ) %>
      </div>
      <div class="col-sm-3">
        <%= f.label :car_year_from, 'Año entre'  %>
        <%= f.select(:car_year_from, (1980..1.year.from_now.year), { include_blank: "Todos", selected: params[:car_year_from]}, { class: 'form-control' }) %>
      </div>
      <div class="col-sm-3">
        <%= f.label :car_year_to, 'y'  %>
        <%= f.select(:car_year_to, (1980..1.year.from_now.year), { include_blank: "Todos", selected: params[:car_year_to] }, { class: 'form-control' }) %>
      </div>
      <div class="col-sm-3 col-form-label">
        </br>
        <%= f.submit 'Buscar', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <!--  End Filter form-->

  <%= will_paginate(@car_intakes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <div class="row pb-5">
    <% @car_intakes.each do |car_intake| %>
        <% car = car_intake.car %>
        <div class="col-sm-6">
          <div class="card bg-light mt-3">
            <h5 class="card-header"> <%= car.description %></h5>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="card-text">Año: <%= car.year %></p>
                  <p class="card-text">Placa: <%= car.registration %></p>
                </div>
                <div class="col">
                  <p class="card-text">Creado: <%= format_date(car_intake.created_at) %></p>
                  <% if policy(car).edit? %>
                    <p class="card-text"><%= link_to("Editar", edit_car_path(car), class: 'btn btn-primary') %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <%= will_paginate(@car_intakes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>