<!DOCTYPE html>
<br>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<h1>Recibimos tu solicitud</h1>
<p>
  Estaremos en contacto apenas llegue el carro que estás buscando.<br/>
  Esta fue la información que nos dejaste:
</p>
<h3>Datos:</h3>
<p>
  Nombre: <%= @find_car_request.name %><br/>
  Email: <%= @find_car_request.email %><br/>
  Teléfono: <%= @find_car_request.phone %><br/>
</p>
<h3>Carro que buscas:</h3>
<p>
  Marca: <%= @find_car_request.make %><br/>
  Referencia:  <%= @find_car_request.reference %><br/>
  Modelo entre <%= @find_car_request.year_from %> y <%= @find_car_request.year_to %><br/>
  Presupuesto (en millones) entre <%= @find_car_request.budget_from %> y <%= @find_car_request.budget_to %><br/>
  Placa: <%= @find_car_request.plate %><br/>
  Mensaje: "<%= @find_car_request.content %>"
</p>

<div><%= image_tag 'logo_retomautos.jpeg', alt: 'Logo Retomautos', height: '70px' %></div>
</br>
<div><%= link_to 'www.retomautos.com', root_url %></div>
</br>
<div><a href="tel:+5716211802">(+571) 621-1802</a></div>
<div><a href="tel:+573108564515">(+57) 310-856-4515</a></div>
<div><a href="tel:+573102067221">(+57) 310-206-7221</a></div>
<br>
<address><strong>Retomautos Selection: </strong>Carrera 15 # 103-24</address>
<address><strong>Retomautos: </strong> Calle 105A # 14-41</address>
<address>Chicó, Bogotá, Colombia</address>
</br>
<p>© Retomautos 2020</p>

</body>