<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Solicitud de contacto</h1>
<p>
  Datos del cliente:
</p>
<p>
  <%= @find_car_request.name %><br/>
  <%= @find_car_request.email %><br/>
  <%= @find_car_request.phone %><br/>
</p>
<p>
  Carro que busca:
</p>
<p>
  <%= @find_car_request.make %><br/>
  <%= @find_car_request.year_from %><br/>
  <%= @find_car_request.year_to %><br/>
  <%= @find_car_request.budget %><br/>
  Mensaje
  "<%= @find_car_request.content %><br/>"
</p>
</body>
</html>