<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Solicitud de "Encontramos tu carro"</h1>
<p>Esta solicitud viene de la página web de la sección "Encontramos tu carro". Los clientes dejan sus datos para ser contactados cuando a Retomautos llegue un carro que se ajuste a sus necesidades.</p>
<p>
  Datos del cliente:
</p>
<p>
  Nombre: <%= @find_car_request.name %><br/>
  Email: <%= @find_car_request.email %><br/>
  Teléfono: <%= @find_car_request.phone %><br/>
</p>
<p>
  Carro que busca:
</p>
<p>
  Marca: <%= @find_car_request.make %><br/>
  Referencia:  <%= @find_car_request.reference %><br/>
  Modelo entre <%= @find_car_request.year_from %> y <%= @find_car_request.year_to %><br/>
  Presupuesto (en millones) entre <%= @find_car_request.budget_from %> y <%= @find_car_request.budget_to %><br/>
  Placa: <%= @find_car_request.plate %><br/>
  Mensaje:
  "<%= @find_car_request.content %>"
</p>
</body>
</html>