<div class="container py-5">
  <h2>Crear Carro</h2>
  <div class="col-md-4 pl-0">
    <%= form_with(model: @car, local: true) do |f| %>
      <%= render 'layouts/error_messages', object: @car %>
      <div class="form-group">
        <%= f.label :description, 'Descripción del carro' %>
        <%= f.text_field :description, placeholder: 'Bmw X3 Xdrive 30d Tp', class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :year, 'Año' %>
        <%= f.number_field :year, placeholder: '2017', class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :registration, 'Placa' %>
        <%= f.text_field :registration, placeholder: 'XYZ000', class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.submit "Crear", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>