<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Pregunta de Cliente</h1>
<h5>Un cliente hizo una pregunta desde la sección de <%= @buy_process.source %> de la página web. Por favor contactarlo.</h5>

<%= link_to "Ir al proceso", sales_buy_process_url(@buy_process.id) %>

<h5>El número que le quedó asignado al proceso es: <%= @buy_process.id %></h5>

<p>
  Datos del cliente:
</p>
<p>
  Nombre: <%= @client.name %><br/>
  Email: <%= @client.email %><br/>
  Teléfono: <%= @client.phone || "N/A" %><br/>
</p>
<p>
  Pregunta: <%= @buy_process_inquiry.body %>
</p>
</body>
</html>