<div class="card mt-3">
  <div class="card-header font-weight-bold">Información del Proceso</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Fecha de creación:</strong> <%= format_datetime(@buy_process.created_at) %></li>
    <li class="list-group-item"><strong>Iniciado desde:</strong> <%= @buy_process.source %></li>
    <li class="list-group-item">
      <strong>Estado:</strong>
      <% if @buy_process.active? %>
        <span> Activo</span>
        <ul> <span>Marcar como:</span>
          <% if policy(@car_sale_for_policy).new? %>
            <%= link_to 'Vendido', new_car_sale_path(buy_process_id: @buy_process.id)  %>
          <% end %>
          <span> | </span>
          <% if policy([:admin, @buy_process]).mark_as_unsuccessfully_closed? %>
            <%= link_to 'Archivado',  mark_as_unsuccessfully_closed_admin_buy_process_path(@buy_process), method: :put %>
          <% end %>
        </ul>
      <% elsif @buy_process.successfully_closed? %>
        <ul><span>Vendido el <%= format_date(@buy_process.successfully_closed_at) %></span></ul>
        <ul><span>Carro: <%= @sold_car.registration_and_description %> | <%= @sold_car.year %></span></ul>
      <% else %>
        <span>Archivado el <%= format_date(@buy_process.unsuccessfully_closed_at) %></span>
      <% end %>
    </li>
  </ul>
</div>