<div class="container py-5">
  <div class="pb-3">
    <h2>Proceso # <%= @buy_process.id %></h2>
  </div>

  <div class="pb-3">
    <%= link_to "Regresar a Todos los Procesos", admin_buy_processes_path %>
  </div>

  <div class="row pb-3">
    <div class="col-6 text-left">
      <% if @previous_buy_process.present? %>
        <h4><%= link_to '<< Anterior Proceso', admin_buy_process_path(@previous_buy_process) %></h4>
      <% end %>
    </div>
    <div class="col-6 text-right">
      <% if @next_buy_process.present? %>
        <h4><%= link_to 'Siguiente Proceso >>', admin_buy_process_path(@next_buy_process) %></h4>
      <% end %>
    </div>
  </div>
  <% if policy([:admin, @buy_process]).update? %>
    <%= form_with(model: @buy_process, url: admin_buy_process_path(@buy_process), method: :patch, local: true) do |f| %>
      <div class="form-row">
        <h4>Vendedor asignado:</h4>
        <div class="col-sm-3">
          <div class="field">
            <%= f.select(:user_id, @active_salespeople_select, { }, class: 'form-control') %>
          </div>
        </div>
        <div class="col-sm-2">
          <%= f.submit "Cambiar", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <% else %>
      <h4>Vendedor asignado: <%= @buy_process.user.name %></h4>
  <% end %>


  <div class="row">
    <div class="col-sm-6">
      <%= render 'shared/client_info', client: @client %>
    </div>
    <div class="col-sm-6">
      <%= render 'admin/buy_processes/buy_process_info' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= render 'sales/buy_processes/notes' %>
    </div>
    <div class="col-sm-6">
      <%= render 'shared/car_intake_info', car_interests: @car_interests, new_car_interest: @new_car_interest, available_car_intakes_select: @available_car_intakes_select %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= render 'sales/buy_processes/inquiries', car_interests: @car_interests, buy_process_inquiries: @buy_process_inquiries %>
    </div>
  </div>
</div>