
<tr>
  <th scope="row">
    <%= link_to buy_process.id, sales_buy_process_path(buy_process) %>
    <br>
    <small><%= format_date buy_process.client.created_at.to_date %></small>
  </th>
  <td>
    <%= buy_process.client.name %>
    <br>
    <%= buy_process.client.email %>
  </td>
  <td><%= buy_process.source %></td>
  <td><%= buy_process.notes_count %></td>
  <td>
    <%= link_to 'Vendido',  mark_as_successfully_closed_sales_buy_process_path(buy_process), method: :put %>
    <br>
    <%= link_to 'Archivado',  mark_as_unsuccessfully_closed_sales_buy_process_path(buy_process), method: :put %>
  </td>
</tr>