<div class="container pt-5">
  <div class="col-3">
    <h1>Mis Procesos</h1>
  </div>
  <div class="row">
    <% if policy([:client]).find_client_for_new_process? %>
      <div class="col-3 mt-1">
        <%= link_to 'Crear Proceso con cliente nuevo', new_client_path, class: 'btn btn-primary my-0' %>
      </div>
      <div class="col-3 mt-1">
        <%= link_to 'Crear Proceso con cliente existente', clients_path, class: 'btn btn-primary my-0' %>
      </div>
    <% end %>
  </div>


<!-- Filter form -->
  <%= form_with(url: sales_buy_processes_path, method: :get, local: true) do |f| %>
    <div class = "font-weight-bold py-3">Búsqueda</div>
    <div class="row pt-1">
      <div class="col-sm-3">
        <%= f.label :name, 'Nombre' %>
        <%= f.text_field(:client_name_contains, value: params[:client_name_contains], class: 'form-control' ) %>
      </div>
      <div class="col-sm-3">
        <%= f.label :name, 'Email' %>
        <%= f.text_field(:client_email_contains, value: params[:client_email_contains], class: 'form-control' ) %>
      </div>
      <div class="col-sm-3">
        <%= f.label :created_at_date_from, 'Creado entre'  %>
        <%= f.date_field(:created_at_date_from, value: params[:created_at_date_from], class: 'form-control' ) %>
      </div>
      <div class="col-sm-3">
        <%= f.label :created_at_date_to, 'y'  %>
        <%= f.date_field(:created_at_date_to, value: params[:created_at_date_to], class: 'form-control' ) %>
      </div>
    </div>
    <div class="row py-3 pb-5">
      <div class="col-4 col-sm-3 form-group">
        <%= f.label :without_notes, "Comentarios" %>
        <%= f.select(:without_notes, @without_notes_select_options,
                     { include_blank: "Todos", selected: params[:without_notes] }, class: 'form-control', ) %>
      </div>
      <div class="col-4 col-sm-3 col-form-label">
        <br>
        <%= f.submit 'Filtrar', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<!--  End Filter form-->

  <%= will_paginate(@buy_processes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Proceso #</th>
      <th scope="col">Cliente</th>
      <th scope="col">Fuente</th>
      <th scope="col"># Comentarios</th>
    </tr>
    </thead>
    <tbody>
      <% @buy_processes.each do |buy_process| %>
        <%= render buy_process %>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate(@buy_processes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>