<div class="container py-5">
  <h2>Procesos Archivados</h2>
  <!--   Filter form-->
  <%= form_with(url: sales_buy_processes_path, method: :get, local: true) do |f| %>
    <div class = "font-weight-bold py-3">Búsqueda</div>
    <div class="row pt-1">
      <div class="col-sm-3">
        <%= f.label :name, 'Nombre' %>
        <%= f.text_field(:client_name_contains, value: params[:client_name_contains], class: 'form-control' ) %>
      </div>
      <div class="col-sm-3">
        <%= f.label :email, 'Email' %>
        <%= f.text_field(:client_email_contains, value: params[:client_email_contains], class: 'form-control' ) %>
      </div>
      <div class="col-sm-3">
        <%= f.label :unsuccessfully_closed_at_date_from, 'Archivado entre'  %>
        <%= f.date_field(:unsuccessfully_closed_at_date_from, value: params[:unsuccessfully_closed_at_date_from], class: 'form-control' ) %>
      </div>
      <div class="col-sm-3">
        <%= f.label :unsuccessfully_closed_at_date_to, 'y'  %>
        <%= f.date_field(:unsuccessfully_closed_at_date_to, value: params[:unsuccessfully_closed_at_date_to], class: 'form-control' ) %>
      </div>
    </div>
    <div class="row py-3 pb-5">
      <div class="col-4 col-sm-3 col-form-label">
        <%= f.submit 'Filtrar', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <!--  End Filter form-->
  <!--  Successfully closed table-->
  <%= will_paginate(@buy_processes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Proceso #</th>
      <th scope="col">Cliente</th>
      <th scope="col">Fuente</th>
      <th scope="col">Fecha de archivo</th>
    </tr>
    </thead>
    <tbody>
    <% @buy_processes.each do |buy_process| %>
      <tr>
        <th scope="row">
          <%= link_to buy_process.id, sales_buy_process_path(buy_process) %>
          <br>
          <small><%= format_date buy_process.client.created_at.to_date %></small>
        </th>
        <td>
          <%= buy_process.client.name %>
          <br>
          <%= buy_process.client.email %>
        </td>
        <td><%= buy_process.source %></td>
        <td><%= format_date(buy_process.unsuccessfully_closed_at) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate(@buy_processes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <!--End Successfully closed table-->
</div>