<nav class="navbar navbar-expand-lg navbar-light bg-gray-100 pt-0 pb-0 navbar-shadow">
  <div class="container">
    <a class="navbar-brand py-2" href="/">
      <%= image_tag 'logo_retomautos_sin_bg.png', alt: 'Logo Retomautos', height: '45px'%>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if policy([:sales, :buy_process]).index? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mis Procesos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Procesos Activos', sales_buy_processes_path, class: 'dropdown-item'  %>
              <%= link_to 'Vendidos', successfully_closed_index_sales_buy_processes_path, class: 'dropdown-item'  %>
              <%= link_to 'Archivados', unsuccessfully_closed_index_sales_buy_processes_path, class: 'dropdown-item'  %>
            </div>
          </li>
        <% end %>
        <% if policy([:admin, :buy_process]).index? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Todos los Procesos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Procesos Activos', admin_buy_processes_path, class: 'dropdown-item'  %>
              <%= link_to 'Vendidos', successfully_closed_index_admin_buy_processes_path, class: 'dropdown-item'  %>
              <%= link_to 'Archivados', unsuccessfully_closed_index_admin_buy_processes_path, class: 'dropdown-item'  %>
            </div>
          </li>
        <% end %>
        <% if policy([:client]).find_client_for_new_process? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Nuevo Proceso
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Crear proceso con cliente nuevo', new_client_path, class: 'dropdown-item'  %>
              <%= link_to 'Crear proceso con cliente existente', find_client_for_new_process_clients_path, class: 'dropdown-item'  %>
            </div>
          </li>
        <% end %>
        <% if policy([:client]).create? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clientes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Nuevo Cliente', new_client_path, class: 'dropdown-item'  %>
              <%= link_to 'Todos los Clientes', clients_path, class: 'dropdown-item'  %>
            </div>
          </li>
        <% end %>
        <% if policy(:car).index? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Carros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Crear Carro', new_car_path, class: 'dropdown-item'  %>
              <%= link_to 'Todos los Carros', cars_path, class: 'dropdown-item'  %>
              <%#= link_to 'Carros Vendidos', '#', class: 'dropdown-item'  %>
            </div>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to 'Contraseña', edit_user_registration_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'nav-link'   %>
        </li>
      </ul>
    </div>
  </div>
</nav>