  <!DOCTYPE html>
  <html>
    <head>
      <%= display_meta_tags site: 'Retomautos', reverse: true %>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <%= javascript_include_tag GoogleAnalytics::JS_URL, async: true %>
    </head>

    <body>
      <header>
        <%= render 'layouts/navigation' %>
      </header>

      <main role="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </main>
    </body>
  </html>
