  <!DOCTYPE html>
  <html>
    <head>
      <title>Retomautos</title>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light pt-0 pb-0">
        <a class="navbar-brand" href="/">
          <%= image_tag 'logoretomautos.JPG', alt: 'Logo Retomautos', width: '200px', height: '80px'%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contáctanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Galería</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Financiación</a>
            </li>

          </ul>
        </div>
      </nav>

      <%= yield %>

      <!-- Footer -->
      <footer class="bg-primary">
        <!-- Copyright -->
        <div class="text-white-50 text-center py-3">© Retomautos 2020</div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </body>
  </html>
